*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before{
  box-sizing: border-box;
}
body{
  background-color: #545;
}
ul,ol{
  list-style: none;
}
button{
  outline: none;
}
a{
  color: inherit;
}
input:required{
  box-shadow: none;
}

